<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6cbd6127-97e8-451d-9a0b-33652618d6c6" Alias="advancedPage" Level="1">
  <Info>
    <Name>Advanced Page</Name>
    <Icon>icon-browser-window color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>AdvancedPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f8d7a561-73be-4798-83a1-a216edf1c1fb">AdvancedPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6cbd6127-97e8-451d-9a0b-33652618d6c6" SortOrder="0">advancedPage</ContentType>
    <ContentType Key="0eb1427d-7d1d-4c7e-9a39-c7c25df79e93" SortOrder="1">contentPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>566e59da-f7bc-4f64-8a17-3f6ac3c2fbbd</Key>
      <Name>Premium RTE</Name>
      <Alias>premiumRTE</Alias>
      <Definition>614f2b83-3fa1-456a-b407-4c2d42c4442f</Definition>
      <Type>TinyMCE.Umbraco.Premium</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>26dc0a61-4b8d-4fd2-a86d-bad6b55507a7</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>c443e82f-5828-477d-ac71-e262d0d934a3</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e94767c9-b7fe-4e90-bde6-d24430889f73</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>