<?xml version="1.0" encoding="utf-8"?>
<Content Key="a0c97e4f-2532-427d-887e-de5f3b36c905" Alias="Advanced" Level="2">
  <Info>
    <Parent Key="21574d81-af2d-45c0-9189-e4fe249d43d7">Home</Parent>
    <Path>/Home/Advanced</Path>
    <Trashed>false</Trashed>
    <ContentType>advancedPage</ContentType>
    <CreateDate>2024-02-02T10:54:11</CreateDate>
    <NodeName Default="Advanced" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f8d7a561-73be-4798-83a1-a216edf1c1fb">AdvancedPage</Template>
  </Info>
  <Properties>
    <premiumRTE2>
      <Value><![CDATA[<p>Testing</p>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat test, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi test est. Mauris placerat eleifend leo.</p>
<p> </p>
<p>💯</p>
<p><img src="" alt="" width="500" height="330" data-udi="umb://media/2e034239507c4e2890d6a8d6e06ba959"></p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/ucZl6vQ_8Uo?si=P8tCZo1lDtietJ1V" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="allowfullscreen"></iframe></p>]]></Value>
    </premiumRTE2>
  </Properties>
</Content>