<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="64add911-5f32-47c1-84d7-56c0a961c39b" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bb526f2f-c8c3-410e-976f-8db56ad5daed">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="cb28b652-d480-4c0a-b656-645a8687b974" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>ac4094c1-c527-453a-a861-a14515f4c037</Key>
      <Name>Rich Text</Name>
      <Alias>richText</Alias>
      <Definition>c5d8b1ca-849e-4f0c-a1ed-e93dedf7edaf</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ee5771d8-ff2a-4fab-9626-978d776c459f</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>