<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="530c71c6-bb2f-4567-92b2-31e07604d36a" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="af2ef58d-5531-473d-86e2-dc2709659d7c">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="530c71c6-bb2f-4567-92b2-31e07604d36a" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>cfce44dd-5fff-4ce6-9c11-aa2b8a596eaf</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c5f9b06e-6bf9-4358-bae9-e37ca3d4e348</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>