<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4bbf24fe-5f10-4cea-b8bb-b766bf20044a" Alias="Basic TinyMce" Level="1">
  <Info>
    <Name>Basic TinyMce</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxImageSize": 500,
  "mode": "Classic",
  "toolbar": [
    "styles",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "sourcecode",
    "link",
    "umbmediapicker",
    "umbembeddialog"
  ]
}]]></Config>
</DataType>