<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d680e384-b9c7-4398-9550-d68d02816630" Alias="Premium TinyMce" Level="1">
  <Info>
    <Name>Premium TinyMce</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>TinyMCE.PropertyEditorUI.TinyMCEPremium</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxImageSize": 500,
  "mode": "Classic",
  "toolbar": [
    "styles",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "sourcecode",
    "link",
    "umbmediapicker",
    "umbembeddialog"
  ]
}]]></Config>
</DataType>