<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c5d8b1ca-849e-4f0c-a1ed-e93dedf7edaf" Alias="TinyMCE Basic Rich Text Editor" Level="1">
  <Info>
    <Name>TinyMCE Basic Rich Text Editor</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9108ee11-1f7a-40ec-994e-7ce80af042d7",
      "label": "{{title}}"
    }
  ],
  "maxImageSize": 500,
  "mode": "Classic",
  "toolbar": [
    "undo",
    "redo",
    "cut",
    "copy",
    "paste",
    "styles",
    "blockquote",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "link",
    "unlink",
    "sourcecode",
    "umbmediapicker",
    "umbembeddialog",
    "umbblockpicker"
  ]
}]]></Config>
</DataType>