<?xml version="1.0" encoding="utf-8"?>
<DataType Key="11d34398-9c20-46d3-b130-6caf064b4d0f" Alias="TinyMCE Premium Rich Text Editor" Level="1">
  <Info>
    <Name>TinyMCE Premium Rich Text Editor</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>TinyMCE.PropertyEditorUI.TinyMCEPremium</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxImageSize": 500,
  "mode": "Classic",
  "plugins": [
    "a11ychecker"
  ],
  "toolbar": [
    "styles",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "table",
    "hr",
    "superscript",
    "a11ycheck",
    "link",
    "sourcecode",
    "umbmediapicker",
    "umbembeddialog",
    "umbblockpicker"
  ]
}]]></Config>
</DataType>