<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a4f7665d-e1de-499d-b435-03df3735bb06" Alias="TinyMCE Premium 14" Level="1">
  <Info>
    <Name>TinyMCE Premium 14</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>TinyMCE.PropertyEditorUI.TinyMCEPremium</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9399a1c0-a056-42ab-ba42-f5c1562f2cc2",
      "label": "Test Block: ${title}",
      "displayInline": false,
      "backgroundColor": "#d7cea8"
    }
  ],
  "maxImageSize": 500,
  "mode": "Classic",
  "plugins": [
    "accordion",
    "a11ychecker"
  ],
  "stylesheets": [
    "/rte-styles.css"
  ],
  "toolbar": [
    "styles",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "alignjustify",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "anchor",
    "table",
    "hr",
    "superscript",
    "charmap",
    "rtl",
    "ltr",
    "accordion",
    "a11ycheck",
    "sourcecode",
    "umbmediapicker",
    "umbembeddialog",
    "link",
    "unlink",
    "umbblockpicker"
  ]
}]]></Config>
</DataType>