<?xml version="1.0" encoding="utf-8"?>
<Media Key="75e2407c-77cb-487b-bd6e-65c00e41b6bd" Alias="TinyMCE" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TinyMCE</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-04-10T11:51:49</CreateDate>
    <NodeName Default="TinyMCE" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>