<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0274f035-c37b-4843-adf6-f39d2591da3b" Alias="TinyMCE Basic" Level="1">
  <Info>
    <Name>TinyMCE Basic</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxImageSize": 500,
  "mode": "Classic",
  "plugins": [
    "anchor",
    "charmap",
    "table",
    "lists",
    "advlist",
    "autolink",
    "directionality",
    "searchreplace",
    "accordion",
    "codesample",
    "emoticons",
    "help",
    "insertdatetime",
    "searchreplace",
    "wordcount",
    "a11ychecker",
    "advcode",
    "advtable",
    "advtemplate",
    "typography",
    "casechange",
    "checklist",
    "mediaembed",
    "export",
    "footnotes",
    "formatpainter",
    "mergetags",
    "pageembed",
    "powerpaste",
    "permanentpen",
    "tinymcespellchecker",
    "tableofcontents"
  ],
  "toolbar": [
    "paste",
    "styles",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "sourcecode",
    "umbmediapicker",
    "umbembeddialog",
    "umbblockpicker",
    "link",
    "unlink",
    "accordion",
    "codesample",
    "emoticons",
    "help",
    "insertdatetime",
    "searchreplace",
    "wordcount",
    "a11ycheck",
    "code",
    "inserttemplate",
    "typography",
    "aishortcuts aidialog",
    "casechange",
    "checklist",
    "media",
    "export",
    "footnotes",
    "formatpainter",
    "mergetags",
    "pageembed",
    "paste",
    "permanentpen",
    "spellchecker",
    "tableofcontents"
  ]
}]]></Config>
</DataType>