<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b3b6953d-3c4b-409d-b309-fe33c91e8969" Alias="TinyMCE - Default Configuration" Level="2">
  <Info>
    <Name>TinyMCE - Default Configuration</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
    <Folder>TinyMCE</Folder>
  </Info>
  <Config><![CDATA[{
  "maxImageSize": 500,
  "mode": "Classic",
  "toolbar": [
    "styles",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "sourcecode",
    "umbmediapicker",
    "umbembeddialog",
    "link",
    "unlink"
  ]
}]]></Config>
</DataType>