<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d4ce2050-1882-4cff-8e2c-9006db475755" Alias="TinyMCE - Full Configuration" Level="2">
  <Info>
    <Name>TinyMCE - Full Configuration</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
    <Folder>TinyMCE</Folder>
  </Info>
  <Config><![CDATA[{
  "dimensions": {
    "width": 640,
    "height": 480
  },
  "hideLabel": true,
  "ignoreUserStartNodes": true,
  "maxImageSize": 500,
  "mediaParentId": "75e2407c-77cb-487b-bd6e-65c00e41b6bd",
  "mode": "Classic",
  "overlaySize": "medium",
  "stylesheets": [
    "/rte-styles.css"
  ],
  "toolbar": [
    "undo",
    "redo",
    "cut",
    "copy",
    "paste",
    "styles",
    "fontname",
    "fontsize",
    "forecolor",
    "backcolor",
    "blockquote",
    "formatblock",
    "removeformat",
    "bold",
    "italic",
    "underline",
    "strikethrough",
    "alignleft",
    "aligncenter",
    "alignright",
    "alignjustify",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "anchor",
    "table",
    "hr",
    "subscript",
    "superscript",
    "charmap",
    "rtl",
    "ltr",
    "link",
    "unlink",
    "sourcecode",
    "umbmediapicker",
    "umbembeddialog",
    "umbblockpicker",
    "sourcecode",
    "umbmediapicker",
    "umbembeddialog",
    "umbblockpicker",
    "link",
    "unlink"
  ]
}]]></Config>
</DataType>