<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c443e82f-5828-477d-ac71-e262d0d934a3" Alias="RTE Premium Tiny" Level="1">
  <Info>
    <Name>RTE Premium Tiny</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "styles",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "umbembeddialog",
      "a11ycheck",
      "casechange",
      "checklist",
      "code",
      "export",
      "footnotes",
      "formatpainter",
      "pageembed",
      "permanentpen",
      "spellchecker",
      "tableofcontents"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "inline"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>