<?xml version="1.0" encoding="utf-8"?>
<DataType Key="34890cac-8f3b-45b6-82d5-a095cd09cc3f" Alias="TinyMce Premium 2" Level="1">
  <Info>
    <Name>TinyMce Premium 2</Name>
    <EditorAlias>TinyMCE.Umbraco.Premium.RTE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "styles",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "umbembeddialog",
      "a11ycheck",
      "casechange",
      "checklist",
      "code",
      "footnotes",
      "permanentpen",
      "tableofcontents"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>