<?xml version="1.0" encoding="utf-8"?>
<DataType Key="614f2b83-3fa1-456a-b407-4c2d42c4442f" Alias="TinyMCE Premium Rich Text Editor" Level="1">
  <Info>
    <Name>TinyMCE Premium Rich Text Editor</Name>
    <EditorAlias>TinyMCE.Umbraco.Premium</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>