<?xml version="1.0" encoding="utf-8"?>
<DataType Key="34890cac-8f3b-45b6-82d5-a095cd09cc3f" Alias="TinyMce Premium" Level="1">
  <Info>
    <Name>TinyMce Premium</Name>
    <EditorAlias>TinyMCE.Umbraco.Premium.RTE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "styles",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "umbembeddialog",
      "a11ycheck",
      "casechange",
      "checklist",
      "code",
      "footnotes",
      "permanentpen",
      "tableofcontents"
    ],
    "stylesheets": [
      "/css/rtestyles.css"
    ],
    "maxImageSize": 500,
    "mode": "classic",
    "customConfig": "{\n\t\"advcode_inline\": \"True\",\n\t\"spellchecker_language\": \"en\",\n\t\"spellchecker_ignore_list\": [ \"senectus\", \"malesuada\" ]\n}",
    "plugins": [
      "charmap",
      "table",
      "lists",
      "advlist",
      "autolink",
      "directionality",
      "searchreplace",
      "advtable",
      "advcode",
      "checklist",
      "casechange",
      "export",
      "footnotes",
      "formatpainter",
      "linkchecker",
      "pageembed",
      "permanentpen",
      "tinymcespellchecker",
      "autocorrect",
      "tableofcontents",
      "anchor"
    ]
  },
  "HideLabel": true,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>