<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="64f3a10b-59c4-47ab-aa0e-2371f133d513" Alias="tinyMceDefaultConfiguration" Level="1">
  <Info>
    <Name>TinyMCE - Default Configuration</Name>
    <Icon>icon-tinymce color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>TinyMCEDefaultConfiguration</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c6d45a85-8d9a-45a3-836f-6ded7183828e">TinyMCEDefaultConfiguration</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1b0795fa-d849-422c-ae29-b4fdc0598632</Key>
      <Name>TinyMCE</Name>
      <Alias>tinyMce</Alias>
      <Definition>b3b6953d-3c4b-409d-b309-fe33c91e8969</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e2e88c07-aeba-4698-bc3e-60af2dd40bbc</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>