<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5c75dbb5-1aac-4622-bf45-4482b7a0ba5c" Alias="tinyMceFullConfiguration" Level="1">
  <Info>
    <Name>TinyMCE - Full Configuration</Name>
    <Icon>icon-tinymce color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>TinyMCEFullConfiguration</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6b63d87f-309a-4c30-8401-587c9115d170">TinyMCEFullConfiguration</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a3090823-cb5c-4897-876b-335fdf6c8bc2</Key>
      <Name>TinyMCE</Name>
      <Alias>tinyMce</Alias>
      <Definition>d4ce2050-1882-4cff-8e2c-9006db475755</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ec3015e0-d72b-4e01-8a4c-3a1db1544004</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>