<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e034239-507c-4e28-90d6-a8d6e06ba959" Alias="151 536X354" Level="2">
  <Info>
    <Parent Key="8c5c80f3-5c3b-4677-b1a6-fac45fd4e9d8">Test</Parent>
    <Path>/Test/X354</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-08T15:55:25</CreateDate>
    <NodeName Default="151 536X354" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/h3baglt2/151-536x354.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>