<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c5c80f3-5c3b-4677-b1a6-fac45fd4e9d8" Alias="Test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-03-08T15:53:47</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>