<?xml version="1.0" encoding="utf-8"?>
<Content Key="18b62e18-7be9-46fa-aa7c-12ace0b8ae95" Alias="Content Page" Level="2">
  <Info>
    <Parent Key="bdd88430-e7b6-4159-b640-3b17156127fb">Home</Parent>
    <Path>/Home/ContentPage</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-04-21T16:42:38</CreateDate>
    <NodeName Default="Content Page" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="af2ef58d-5531-473d-86e2-dc2709659d7c">ContentPage</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Content Page]]></Value>
    </title>
  </Properties>
</Content>