<?xml version="1.0" encoding="utf-8"?>
<Media Key="22922e65-40cd-4ee5-875e-e5a5da0eaeb5" Alias="1000_F_513797754_KyKftzXhlul8FalDksafJf1TmtqrX1Px.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/F_513797754_KyKftzXhlul8FalDksafJf1TmtqrX1Pxjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-27T12:25:18</CreateDate>
    <NodeName Default="1000_F_513797754_KyKftzXhlul8FalDksafJf1TmtqrX1Px.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3lsnjffe/1000_f_513797754_kykftzxhlul8faldksafjf1tmtqrx1px.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>