<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7552967-f9af-4272-82d5-a883e3ff2b5d" Alias="237-536x354.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/x354jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-17T10:52:33</CreateDate>
    <NodeName Default="237-536x354.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3drbg2og/237-536x354.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>