<?xml version="1.0" encoding="utf-8"?>
<Media Key="5564df55-0ef6-487d-a5d7-d495d0371b7f" Alias="866-536x354.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/x354jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-17T10:51:50</CreateDate>
    <NodeName Default="866-536x354.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1ikdfy25/866-536x354.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>