<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ab851a2-aca3-4aa1-b547-b59b65553132" Alias="Wallpaper_EverdellCover_1920p_01_ab.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Wallpaper_EverdellCover_1920p_01_abjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-16T12:57:29</CreateDate>
    <NodeName Default="Wallpaper_EverdellCover_1920p_01_ab.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fwnp3tgk/wallpaper_everdellcover_1920p_01_ab.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>